.result {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.score {
    border: 2px solid #3498db;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: #3498db;
    font-size: 30px;
}

.text {
    color: #000000;
    font-size: 12px;
}