.result {
    flex: 0 0 70%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
}

.score {
    border: 2px solid #3498db;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: #3498db;
    font-size: 30px;
}

.text {
    color: #000000;
    font-size: 12px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    margin: 20px;
}

.btn:hover {
    background-color: #1d6fa5;
}

.btn_reset {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    margin: 20px;
}

.btn_reset:hover {
    background-color: #CE7272;
}